In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
path="Visadataset.csv"
visa_df=pd.read_csv(path)
visa_df.head(3)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied

In [3]:
visa_df.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [4]:
visa_df.select_dtypes(exclude='object').columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

In [5]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [6]:
visa_df[['prevailing_wage']]

       prevailing_wage
0             592.2029
1           83425.6500
2          122996.8600
3           83434.0300
4          149907.3900
...                ...
25475       77092.5700
25476      279174.7900
25477      146298.8500
25478       86154.7700
25479       70876.9100

[25480 rows x 1 columns]

In [7]:
len(visa_df['prevailing_wage'])

25480

In [8]:
visa_df['prevailing_wage'].count

<bound method Series.count of 0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64>

In [9]:
np.mean(visa_df['prevailing_wage'])

74455.81459209183

In [10]:
visa_df['prevailing_wage'].mean()

74455.81459209183

In [11]:
visa_df['prevailing_wage'].median()

70308.20999999999

In [12]:
np.median(visa_df['prevailing_wage'])

70308.20999999999

In [13]:
visa_df['prevailing_wage'].mode()

0        100.66
1        102.70
2        105.96
3        108.12
4        109.06
5        110.51
6        111.11
7        113.60
8        118.43
9        122.65
10       127.89
11       134.15
12       138.76
13      6036.67
14     21894.51
15     24258.73
16     58770.05
17     60948.15
18     64357.58
19     74645.92
20     82560.28
21     87751.88
22     88664.77
23     93356.03
24    126813.75
25    149907.39
Name: prevailing_wage, dtype: float64

In [14]:
visa_df['prevailing_wage'].std()

52815.94232687357

In [15]:
visa_df['prevailing_wage'].min()

2.1367

In [16]:
visa_df['prevailing_wage'].max()

319210.27

In [17]:
#Make data frame for above Values
wage_count=round(visa_df['prevailing_wage'].count())
wage_mean=round(visa_df['prevailing_wage'].mean())
wage_median=round(visa_df['prevailing_wage'].median())
#wage_mode=round(visa_df['prevailing_wage'].mode())
wage_max=round(visa_df['prevailing_wage'].max())
wage_min=round(visa_df['prevailing_wage'].min())
wage_std=round(visa_df['prevailing_wage'].std())
index=['Count','Mean','Median','Max','Min','Std']
#col=['Count','Mean','Median','Mode','Max','Min','Std']
col=['prevailing_wage']
l=[wage_count,wage_mean,wage_median,wage_max,wage_min,wage_std]
wage_df=pd.DataFrame(l,columns=col,index=index)
wage_df

        prevailing_wage
Count             25480
Mean              74456
Median            70308
Max              319210
Min                   2
Std               52816

In [18]:
#Make data frame for above Values with percinetile
wage_count=round(visa_df['prevailing_wage'].count())
wage_mean=round(visa_df['prevailing_wage'].mean())
wage_median=round(visa_df['prevailing_wage'].median())
#wage_mode=round(visa_df['prevailing_wage'].mode())
wage_max=round(visa_df['prevailing_wage'].max())
wage_min=round(visa_df['prevailing_wage'].min())
wage_std=round(visa_df['prevailing_wage'].std())
wage_25=np.percentile(visa_df['prevailing_wage'],25)
wage_50=np.percentile(visa_df['prevailing_wage'],50)
wage_75=np.percentile(visa_df['prevailing_wage'],75)

index=['Count','Mean','Median','Max','Min','Std','wage 25 %','wage 50%','wage 75%']
#col=['Count','Mean','Median','Mode','Max','Min','Std']
col=['prevailing_wage']
l=[wage_count,wage_mean,wage_median,wage_max,wage_min,wage_std,wage_25,wage_50,wage_75]
wage_df=pd.DataFrame(l,columns=col,index=index)
wage_df

           prevailing_wage
Count           25480.0000
Mean            74456.0000
Median          70308.0000
Max            319210.0000
Min                 2.0000
Std             52816.0000
wage 25 %       34015.4800
wage 50%        70308.2100
wage 75%       107735.5125

In [19]:
con=visa_df['prevailing_wage']<34014
len(visa_df[con])

6370

In [20]:
print(np.percentile(visa_df['prevailing_wage'],25))
print(np.quantile(visa_df['prevailing_wage'],0.25))#percentile and quRTILE both ans come same

34015.479999999996
34015.479999999996

In [21]:
np.percentile(visa_df['prevailing_wage'],50)

70308.20999999999

In [22]:
condition=visa_df['prevailing_wage']<70308
len(visa_df[condition])

12740

In [31]:
visa_df.select_dtypes(exclude=object)

       no_of_employees  yr_of_estab  prevailing_wage
0                14513         2007         592.2029
1                 2412         2002       83425.6500
2                44444         2008      122996.8600
3                   98         1897       83434.0300
4                 1082         2005      149907.3900
...                ...          ...              ...
25475             2601         2008       77092.5700
25476             3274         2006      279174.7900
25477             1121         1910      146298.8500
25478             1918         1887       86154.7700
25479             3195         1960       70876.9100

[25480 rows x 3 columns]

In [48]:
#Make data frame for above Values with percinetile with List
list1=[]
cols=visa_df.select_dtypes(exclude='object').columns
for i in cols:
    wage_count=round(visa_df[i].count(),2)
    wage_mean=round(visa_df[i].mean(),2)
    wage_median=round(visa_df[i].median(),2)
    wage_max=round(visa_df[i].max(),2)
    wage_min=round(visa_df[i].min(),2)
    wage_std=round(visa_df[i].std(),2)
    wage_25=np.percentile(visa_df[i],25)
    wage_50=np.percentile(visa_df[i],50)
    wage_75=np.percentile(visa_df[i],75)
    col=['prevailing_wage']
    list1.append([wage_count,wage_mean,wage_median,wage_max,wage_min,wage_std,wage_25,wage_50,wage_75])
index=['Count','Mean','Median','Max','Min','Std','wage 25 %','wage 50%','wage 75%']
wagedf_list=pd.DataFrame(zip(list1[0],list1[1],list1[2]),columns=col,index=index)
wage_df

ValueError: 1 columns passed, passed data had 3 columns

In [50]:
#Make data frame for above Values with percinetile with Dictionery
dic={}
cols=visa_df.select_dtypes(exclude='object').columns
for i in cols:
    wage_count=round(visa_df[i].count(),2)
    wage_mean=round(visa_df[i].mean(),2)
    wage_median=round(visa_df[i].median(),2)
    wage_max=round(visa_df[i].max(),2)
    wage_min=round(visa_df[i].min(),2)
    wage_std=round(visa_df[i].std(),2)
    wage_25=np.percentile(visa_df[i],25)
    wage_50=np.percentile(visa_df[i],50)
    wage_75=np.percentile(visa_df[i],75)
    col=['prevailing_wage']
    dic[i]=[wage_count,wage_mean,wage_median,wage_max,wage_min,wage_std,wage_25,wage_50,wage_75]
    index=['Count','Mean','Median','Max','Min','Std','wage 25 %','wage 50%','wage 75%']
    pd.DataFrame(dic,columns=col,index=index)

In [45]:
wage_50=np.percentile(visa_df['prevailing_wage'],50)
con=visa_df['prevailing_wage']<wage_50
len(visa_df[con])

12740

In [29]:
cols=visa_df.select_dtypes(exclude='object').columns
l=[]
for i in cols:
     count=round(visa_df[i].count(),2)
     maxx=round(visa_df[i].max(),2)
     minn=round(visa_df[i].min(),2)
     mean=round(visa_df[i].mean(),2)
     median=round(visa_df[i].median(),2)
     std=round(visa_df[i].std(),2)
     p_25=np.percentile(visa_df[i],25)
     p_50=np.percentile(visa_df[i],50)
     p_75=np.percentile(visa_df[i],75)
     l.append([count,maxx,minn,mean,median,std,p_25,p_50,p_75])
index=['count','max','min','mean','median','std','25%','50%','75%']
pd.DataFrame(zip(l[0],l[1],l[2]),columns=cols,index=index)#how much num column are there in df thatmuch index give to list

        no_of_employees  yr_of_estab  prevailing_wage
count          25480.00     25480.00       25480.0000
max           602069.00      2016.00      319210.2700
min              -26.00      1800.00           2.1400
mean            5667.04      1979.41       74455.8100
median          2109.00      1997.00       70308.2100
std            22877.93        42.37       52815.9400
25%             1022.00      1976.00       34015.4800
50%             2109.00      1997.00       70308.2100
75%             3504.00      2005.00      107735.5125

In [30]:
visa_df.describe()

       no_of_employees   yr_of_estab  prevailing_wage
count     25480.000000  25480.000000     25480.000000
mean       5667.043210   1979.409929     74455.814592
std       22877.928848     42.366929     52815.942327
min         -26.000000   1800.000000         2.136700
25%        1022.000000   1976.000000     34015.480000
50%        2109.000000   1997.000000     70308.210000
75%        3504.000000   2005.000000    107735.512500
max      602069.000000   2016.000000    319210.270000